/* h1 {
    margin: 200px;
} */

/* form input {
    background-color: aqua;
    display: flex;
    align-items: center;
    height: 100%;
    width: 80vb;
    margin-top: -10vb;
    margin-left: 60vb;
    border: 3px solid blue;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0 30px;
} */